<div class="container">
  <h2 class="text-center">Would you like to try?</h2>
  <form [formGroup]="postForm"
  (ngSubmit)="onSubmit(); postForm.reset()">
    <div class="form-group">
      <label for="author">Your name</label>
      <!-- <input
        type="text"
        class="form-control"
        id="author"
        required
        #author="ngModel"
        [(ngModel)]="post.author"
        name="author"
      /> -->
      <input
        type="text"
        class="form-control"
        id="author"
        formControlName="author"
      />
      <!-- <div [hidden]="author.valid || author.pristine" class="alert alert-danger" >
        <div *ngIf="author.errors?.required">
          Author name is required
        </div>
      </div> -->
      <div [hidden]="postForm.controls.author.valid || author.pristine" class="alert alert-danger">
        <div *ngIf="author.errors?.required">
          Name is required
        </div>
      </div>
    </div>
    
    <div class="form-group">
      <label for="email">Your email address</label>
      <input
        type="email"
        class="form-control"
        id="email"
        required
        placeholder="name@example.com"
        formControlName="email"
      />
      <div [hidden]="postForm.controls.email.valid || email.pristine" class="alert alert-danger" >
        <div *ngIf="email.errors?.required">
          Email is required
        </div>
        <div *ngIf="email.errors?.pattern">
          Email is incorrect
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="title">Title</label>
      <input
        type="text"
        class="form-control"
        id="title"
        required
        formControlName="title"
      />
      <div [hidden]="postForm.controls.title.valid || title.pristine" class="alert alert-danger" >
        <div *ngIf="title.errors?.required">
          Title is required
        </div>
        <div *ngIf="title.errors?.minlength">
          Title must be 3-30 symbols
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="content">Content</label>
      <textarea
        class="form-control"
        id="content"
        required
        rows="10"
        formControlName="content"
      ></textarea>
      <div [hidden]="postForm.controls.content.valid || content.pristine" class="alert alert-danger" >
        <div *ngIf="content.errors?.required">
          Content is required
        </div>
      </div>
    </div>
    Check form updates:
    <pre>{{ post | json }} <br /></pre>
    <pre>{{ postForm.value | json }}</pre>
    <div class="alert alert-danger" role="alert" *ngIf="serverErrorMessage">
      {{ serverErrorMessage }}
    </div>

    <div class="row">
      <div class="col-2">
        <button type="submit" class="btn btn-success" [disabled]="!postForm.valid">Submit</button>
      </div>
      <div class="col-2">
        <button type="button" class="btn btn-light" (click)="postForm.reset()">
          Clear
        </button>
      </div>
    </div>
    Form is valid? {{postForm.valid}}
  </form>
</div>
